.ShowItem {
    padding: 20px 10px;
    margin: 10px auto;

    max-width: 1200px;
    .backImg {
        padding: 0;
        width: 40px;
        height: 40px;
        border: none;
        background: none;
        img {
            width: 25px;
        }
    }
  
    .backImg:active,
    .backImg:focus     {
        border: none;
    }

    .textBlock {
        padding: 10px 20px;
        margin-top: 20px;

        font: 22px $basicFont;

        h2 {
            margin: 0;
            line-height: 25px;
        }
        .id {
            font-size: 18px;
        }
        .line {
            border-top: 1px dotted #d7d6d6;
            margin: 20px 0;
        }

        .priceBlock {
            padding-right: 15%;
            display: flex;
            justify-content: space-between;
        }
        .sold {
            color: rgb(155, 49, 49);
        }

        .available {
            color: rgb(30, 78, 30);
        }
        h4,
        .priceBlock {
            font-family: "Alegreya Sans";
            // text-transform: uppercase;
        }

        .variants {
            display: flex;
            .activeVariant {
                border: 2px solid $gold;
                box-sizing: border-box;
                transform: scale(1.2);
            }
            button {
                float: none;
                height: 40px;
                width: 40px;
                margin-right: 10px;
                margin-top: 0px;
                border: none;
            }
        }
    }

    .imageBlock {
        margin-top: 20px;
        padding-top: 10px;
        text-align: center;
        border-radius: 10px;
        img {
            width: 90%;
        }
        .imageRow {
            display: flex;
            overflow-y: scroll;

            margin: 30px auto 10px;

            button {
                background: none;
                border: none;
                img {
                    margin-left: -5px;
                    width: 100px;
                    margin: 5px 5px 15px;
                    padding: 10px;
                    transition-duration: 0.4s;
                }
                .activeImg {
                    padding: 0px;
                    transition-duration: 0.4s;
                    box-shadow: 5px 5px 16px -13px rgba(0, 0, 0, 0.76);
                    border: 2px solid $gold;
                    box-sizing: border-box;
                }
            }
            button:focus {
                outline: none;
            }
        }

        .imageRow::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        .imageRow::-webkit-scrollbar:horizontal {
            height: 10px;
        }

        .imageRow::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 2px solid white;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}
